pymatreader==0.0.32
ndx-fiber-photometry@git+https://github.com/catalystneuro/ndx-fiber-photometry.git@main
openpyxl==3.1.2
aicsimageio>=4.14.0
roiextractors>=0.5.8
neuroconv@git+https://github.com/catalystneuro/neuroconv.git@main # temporary until new release
neuroconv[video]
remfile>=0.1.13 # for the Jupyter notebook tutorial
